PORT=5000
CLIENT_URL=http://localhost:3000
NODE_ENV=development
BOT_INVITE_URL=https://discord.com/oauth2/authorize?client_id=YOUR_ID&permissions=8&scope=bot
SUPPORT_SERVER=https://discord.gg/deltamusic
